*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

h1{
    font-size: 175%;
    text-align: center;
}

.row{
    width: 100%;
    margin: -15px;
    padding-left: 27px;
}

section{
    height: 150px;
}

.box{
    border-width: 1px;
    border-color: black;
    border-style: solid;
    background-color: grey;
    position: relative;
    height: 130px;
    margin: 10px;
    padding-top: 20px;
    padding-left: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.box::-webkit-scrollbar{
    width: 0;
}

p{
    font-size: 100%;
    font-weight: 500;
    text-align: left;
    width: 90%
}

.section-title1{
    padding: 3px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    font-size: 125%;
    background-color: lightblue;
    position: absolute;
    top: -1px;
    right: -1px;
}

.section-title2{
    padding: 3px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    font-size: 125%;
    background-color: lightgreen;
    position: absolute;
    top: -1px;
    right: -1px;    
}

.section-title3{
    padding: 3px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    font-size: 125%;
    background-color: greenyellow;
    position: absolute;
    top: -1px;
    right: -1px;
}

@media (min-width: 992px){
    .col-lg-4{
        width: 33.33%;
        float: left;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .col-md-6, .col-md-12{
        float: left;
    }
    .col-md-6{
        width: 50%;
    }
    .col-md-12{
        width: 100%;
    }
}

/*This isn't neccessary but I'm just including it so the code is clear*/

@media (max-width: 767px){
    .col-sm-12{
        width: 100%;
    }
}